/* Give your page a fun background color */
body {
    background-color: bisque;
}
/* Make the header and footer a different color from the background */
header {
    color: blue;
}

footer {
    color: azure;
    border: 2px solid black;
    text-align: center;
    background-color: cadetblue;
}
/* Align the h1 containing your name in the center of the header*/
h1 {
    text-align: center;
    border: 1px solid black;
    background-color: ghostwhite;
}
/* Make your p tag a different color and italic */
p {
    color: blueviolet;
    
    
}
/* Put a border around your image */
img {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    
}



/* Change the font-family of your list */
li {
    font-family: Gill Sans;
    padding-top: 30px;
}


.cat-photo {
    display: flex;
    justify-content: center;
    }
  

  .letter {
    border: 2px solid black;
    width: 575px;
    height: 650px;
    margin: 20px auto;
    padding: 0 7px;
    background-image: url("https://img.favpng.com/25/16/10/a-memory-of-light-the-great-hunt-the-eye-of-the-world-the-wheel-of-time-the-dragon-reborn-png-favpng-SCADwCqqPDQHTip9F79TLSgBv_t.jpg");

  }



ul {
    width: 300px;
    height: 180px;
    border: 1px solid black;
    background-color: powderblue;
    margin-left: 110px;
    margin-bottom: 100px;
    
}